{% extends "base.html" %}
{% load static %}
{% block top %}
<div class="header-top">
    <div class="header-top-left">
        <h1>
            Technical Projects
        </h1>
        <img src="{% static 'img/sb2_thumbnail.jpg' %}" alt="sb2-t" class="sb2-thumb">
    </div>
    <a href="/" class="link-format">
        <h2>
            Home
        </h2>
    </a>
</div>
{% endblock %}
{% block middle %}
        <p class="pad-top text-para-lt p-margin1">
            <ul>
                <li>Novel streaming service search engine: "Stream Bunny"</li>
                <li><b>Technologies Used: HTML5 / CSS3 / Bootstrap, Python / Django, JavaScript / jQuery / Ajax, BCrypt, Git (GitHub), 
                    External APIs</b> </li>
                <ul>
                    <li>Designed app (generating wireframes on draw.io schematics site) for searching through comprehensive database of 
                        movies and TV shows to see what streaming platforms currently carried them; involved utilization of several distinct API dependencies<br>
                        "Web log"</li>
                </ul>
            </ul>
        </p>

{% endblock %}
{% block bottom %}
{% endblock %}