{% extends "base.html" %}
{% load static %}
{% block top %}
<div class="header-top">
    <div class="header-top-left">
        <h1>
            Technical Projects
        </h1>
        <img src="{% static 'img/sb2_thumbnail.jpg' %}" alt="sb2-t" class="sb2-thumb">
    </div>
    <a href="/" class="link-format">
        <h2>
            Home
        </h2>
    </a>
</div>
{% endblock %}
{% block middle %}
        <p class="pad-top text-para-lt p-margin1">
            "Stream Bunny" <br><br>
            "Web log" <br><br>
        </p>

{% endblock %}
{% block bottom %}
{% endblock %}